body{
    background-image: linear-gradient(to top right,black,darkviolet,black,darkviolet,black);text-align: center;
}

div{
    background-color: magenta;border: solid 5px black;width: 40%;height:530px ;margin: auto;border: 50%;text-align: center;border-radius: 20px;
}

img{
    border: solid 4px black;margin: auto;width: 320px;border-radius: 50%;
}
